* {
  margin: 0px;
  padding: 0px;
}

.body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: 120px;
  padding-right: 120px;
}

.top {
  background-image: url(img/bgtop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1024px;
  display: flex;
  justify-content: space-around;
}
.top_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.top__name {
  padding-top: 217px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.top__text {
  padding-top: 32px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.top__button {
  margin-top: 44px;
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: rgb(156, 3, 50);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  text-align: center;
  transition: all 0.3s;
}
.top__button:hover {
  transform: scale(1.08);
}
.top__button:active {
  transform: scale(1.05);
}

.main {
  background-color: #000915;
}
.main_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px;
  padding-top: 96px;
  padding-bottom: 128px;
}
.main_content__links {
  text-decoration: none;
  transition: all 0.3s;
}
.main_content__links:hover {
  transform: scale(1.08);
}
.main_content__links:active {
  transform: scale(1.03);
}
.main_content__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  position: relative;
  top: 268px;
  padding-left: 32px;
}

.gameSeasons {
  background-color: #000915;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 135px;
  padding-top: 232px;
  padding-bottom: 232px;
}
.gameSeasons_main {
  justify-content: center;
  width: 584px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.gameSeasons_main__name {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
}
.gameSeasons_main__text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
}
.gameSeasons_main__button {
  border-radius: 30px;
  background: rgb(156, 3, 50);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  width: 234px;
  height: 50px;
  transition: all 0.3s;
}
.gameSeasons_main__button:hover {
  transform: scale(1.08);
}
.gameSeasons_main__button:active {
  transform: scale(1.05);
}

.gameRemember {
  background-color: #000915;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 135px;
  padding-top: 240px;
  padding-bottom: 240px;
}
.gameRemember_main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 588px;
  justify-content: center;
}

.gameRiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/bggame3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
}
.gameRiddle_main {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    background-image: url(img/bgtopmobile.jpg);
    height: 735px;
  }
  .top__name {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .top__text {
    font-size: 14px;
    text-align: center;
    line-height: 22px;
  }
  .top__centerbutton {
    text-align: center;
  }
  .main_content {
    gap: 0px;
  }
  .main_content__img {
    width: 343px;
  }
  .gameSeasons {
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .gameSeasons_main__centerButton {
    text-align: center;
  }
  .gameSeasons_main__name {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .gameSeasons_main__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
  }
  .gameSeasons_img {
    width: 344px;
  }
  .gameRemember {
    align-items: center;
    flex-direction: column-reverse;
    padding-bottom: 90px;
    padding-top: 50px;
  }
  .gameRemember_main {
    width: auto;
  }
  .gameRemember_imgmain__img {
    width: 344px;
    padding-bottom: 90px;
  }
}
.gameRiddle {
  align-items: start;
}
.gameRiddle_main {
  padding-top: 50px;
}/*# sourceMappingURL=style.css.map */